1+1

In [ ]:
1+1

In [1]:
12 + 16

28

In [4]:
380 + 570

950

In [3]:
168 + 472

640

In [ ]:
30 + 30

In [2]:
## Basic syntax Rules in Python
## Case Sensitivity - python in case sensitive

name="krishna"
Name="Bramha"

print(name)
print(Name)

krishna
Bramha

In [3]:
## Indentation
## python uses indentation to define blocks of code. consistent use of spaces (comonly) or a tab is required.

age = 32
if age >= 30:
    print(age)

    print(age)

32
32

In [4]:
## this is single line comment
print("hello world")

hello world

In [1]:
## Line continuation
Total = 1+2+3+4+5+6+7+8+9+\
4+5+6
print(Total)

60

In [8]:
## Multiple line statesment on a single line 
x = 5; y = 10; z = 15
print(x + y + z)

30

In [9]:
## Multiple line statesment on a single line 
x = 5; y = 10; z = x + y
print(z)

15

In [10]:
## understand sementics In Python
age = 32 ##age is  an integer
name = "krishna" ## name is a string

In [ ]:
## type Inference
type(age)

int

In [ ]:
## type l
type(name)

str

In [13]:
## type Inference

variable = 20
print(type(variable))
variable = "Krishna"
print(type(variable))

<class 'int'>
<class 'str'>

In [18]:
age = 32
if age>=30:
 print(age)

32

In [ ]:
## Name error
 a=b

NameError: name 'b' is not defined

In [24]:
## code examples of indentation
if True:
   print("correct Indentation")
   if False:
       print("Tis ont print")
       
   print("this will print")
print("Outside the if Block")

correct Indentation
this will print
Outside the if Block